<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>

        <title>{{ title }}</title>
        <script src="/scripts/stats.js"></script>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>