<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>

        <title>{{ title }}</title>
        <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="f3377ee1-5d25-4aee-9a32-d22a53f35ba4"></script>
    </head>
    <body>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>