.tovar_price{
	margin-bottom: 10px;
	background-attachment:initial;
	background-clip:initial;
	background-color:initial;
	background-image:url(http://www.kitaimob.ru/i/price_bg.gif);
	background-origin:initial;
	background-position:0 0;
	background-repeat:no-repeat no-repeat;
	color:#000000;
	font-family:arial;
	font-size:18px;
	height:29px;
	line-height:29px;
	padding-right:15px;
	text-align:center;
	width:166px;
}