html {
    color-scheme: light dark;
}

body {
    font-family: system-ui, sans-serif;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

main {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

@media screen  and (width <= 900px) { 
    main {
        flex-direction: column;
    }
}

section {
    font-size: 1.2rem;
}

picture {
    align-self: flex-start;
    overflow: hidden;
   
}

section.info {
    align-self: flex-start;
}

img {
    display: block;
    width: 20rem;
    height: auto;
    border-radius: 2rem;
}