html{
    color-scheme: light dark;
    font-family: system-ui, sans-serif
}

main {
    border: 1px solid black;
    margin: auto;
    position: relative;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5), inset 0 0 50px rgba(0, 0, 0, 0.2);
}

picture {
    align-self: flex-start;
}

section.info {
    align-self: flex-end;
}

img {
    display: block;
    width: 50rem;
    height: auto;
}
